@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.vorpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  top: 7%;
  left: 5%;
}

.vorpGears {
  background: radial-gradient($purple, $blue-dark, $blue, $blue-light, $light);
  height: 200px;
  width: 200px;
  position: relative;
  -webkit-clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 24%,
    85% 0,
    100% 15%,
    74% 40%,
    100% 40%,
    100% 60%,
    74% 60%,
    100% 85%,
    85% 100%,
    60% 74%,
    60% 100%,
    40% 100%,
    40% 74%,
    15% 100%,
    0 85%,
    24% 60%,
    0 60%,
    0 40%,
    24% 40%,
    0 15%,
    15% 0,
    40% 24%
  );
  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 24%,
    85% 0,
    100% 15%,
    74% 40%,
    100% 40%,
    100% 60%,
    74% 60%,
    100% 85%,
    85% 100%,
    60% 74%,
    60% 100%,
    40% 100%,
    40% 74%,
    15% 100%,
    0 85%,
    24% 60%,
    0 60%,
    0 40%,
    24% 40%,
    0 15%,
    15% 0,
    40% 24%
  );
  border-radius: 50%;
  transition: all 2s;
  border: 5px solid $blue;
  // animation: grars-anim 20s linear infinite;
}

@keyframes grars-anim {
  100% {
    transform: rotate(360deg);
  }
}

.vorpBody {
  position: absolute;
  width: 150px;
  height: 150px;
  background: radial-gradient($blue, $blue-light);
  border-radius: 50%;
  z-index: 10;
  border-top: 10px solid transparent;
  border-left: 10px solid $blue-dark;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $blue-dark;
}

.vorpFill {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: $light;
  border-radius: 50%;
  z-index: 20;
}

.vorpLids {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 40;
  border-top: 50px solid $blue-dark;
  border-bottom: 50px solid $blue-dark;
  // animation: lids-happy 2s linear forwards;
}

@keyframes lids-happy {
  0% {
    border-top: 15px solid $blue-dark;
    border-bottom: 15px solid $blue-dark;
  }
  30% {
    border-top: 25px solid $blue-dark;
    border-bottom: 35px solid $blue-dark;
  }
  70% {
    border-top: 25px solid $blue-dark;
    border-bottom: 35px solid $blue-dark;
  }
  90% {
    border-top: 20px solid $blue-dark;
    border-bottom: 20px solid $blue-dark;
  }
}

.vorpEye {
  position: absolute;
  width: 50px;
  height: 50px;
  background: radial-gradient(
    $red,
    $orange-dark,
    $red-light,
    $orange-light,
    $light
  );
  border-radius: 50%;
  z-index: 20;
  // animation: eye-happy 2s linear forwards;
}

@keyframes eye-happy {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(0, -5px) scale(1.3);
  }
  60% {
    transform: translate(0, -5px) scale(1.3);
  }
  90% {
    transform: translate(0, 0) scale(1);
  }
}
