@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  color: $light;
  z-index: 10;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background: $light;
  border-radius: 50%;
}

.navLinks .navLink {
  color: $grey;
  padding: 1.5rem 2rem;
  margin: 0 1rem;
  font-size: 2rem;
  transition: all 0.3s;
  border-bottom: 3px solid $grey;
  &:hover {
    background: $blue-dark;
  }
}

.navLink.active {
  color: $light;
  border-color: $light;
}
.navLink.active .navSpecial {
  color: $red;
}
