@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.navLinks .navLink {
  &:link,
  &:visited {
    background-color: $light;
    box-shadow: 0.5rem 0.5rem 0 $blue-light;
    margin: 2rem 4rem;
    padding: 1rem 2rem;
    font-size: 3rem;
    color: $dark;
    transition: all 0.3s;
  }

  &:hover {
    box-shadow: 0.7rem 0.7rem 0 $orange-dark;
    transform: translate(-0.2rem, -0.2rem);
    & .navSpecial {
      color: $orange-dark;
    }
  }

  &:active {
    box-shadow: 0 0 0 $orange-dark;
    transform: translate(-0.2rem, -0.2rem);
  }

  &.active {
    box-shadow: 0.7rem 0.7rem 0 $red-light;
    &:hover {
      transform: translate(0);
    }
    & .navSpecial {
      color: $red-light;
    }
  }
  & .navSpecial {
    text-transform: uppercase;
    color: $blue-light;
    transition: all 0.3s;
  }
}
