@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.articleContainer {
  @include paper;
  padding: 4rem;
  margin-bottom: 4rem;
  opacity: 0;
  transform: translateY(100%);
  animation: onshow 1s forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes onshow {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.articleHeader {
  text-transform: uppercase;
  font-weight: $font-bold;
  border-bottom: 2px solid $dark;
  margin-bottom: 4rem;
}
