@import '../styles/settings.scss';

@mixin paper {
  background-color: $light;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  box-shadow: 0 0.3rem 0.7rem rgba($dark, 0.4);
  overflow: hidden;
}

@mixin tape-effect {
  content: '';
  position: absolute;
  width: 15%;
  height: 20%;
  z-index: 2;
  opacity: 0.7;
  background-color: $blue-light;
  clip-path: polygon(
    0 0,
    5% 10%,
    0 20%,
    5% 30%,
    0 40%,
    5% 50%,
    0 60%,
    5% 70%,
    0 80%,
    5% 90%,
    0 100%,
    100% 100%,
    95% 90%,
    100% 80%,
    95% 70%,
    100% 60%,
    95% 50%,
    100% 40%,
    95% 30%,
    100% 20%,
    95% 10%,
    100% 0
  );
}
