h1 {
  font-size: 6rem;
  font-weight: $font-bold;
}

h2 {
  font-size: 5rem;
  font-weight: $font-medium;
}

h3 {
  font-size: 4.5rem;
  font-weight: $font-regular;
}

h4 {
  font-size: 4rem;
  font-weight: $font-regular;
}

h5 {
  font-size: 3rem;
  font-weight: $font-regular;
}

h6 {
  font-size: 2rem;
  font-weight: $font-light;
}

p {
  font-size: 1.6rem;
  font-weight: $font-regular;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}
