@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.styleguideContainer {
  .sectionTitle {
    text-transform: uppercase;
    margin: 1rem 2rem;
    border-bottom: 2px solid $dark;
  }

  // Typography

  .typographyContent {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  // Color

  .colorContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .colorItem {
    text-align: center;
    padding: 1rem 0;
    margin: 2rem;
    border: 1px solid $dark;
    border-radius: 1rem;
  }

  span {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #999;
    margin-top: 1rem;
  }

  .colorDark {
    background-color: $dark;
  }
  .colorLight {
    background-color: $light;
  }
  .colorGrey {
    background-color: $grey;
    border: 3px solid $grey-dark-1;
  }
  .colorGreyDark1 {
    background-color: $grey-dark-1;
    border: 3px solid $grey;
  }
  .colorRed {
    background-color: $red;
  }
  .colorPurple {
    background-color: $purple;
  }
  .colorBlueDark {
    background-color: $blue-dark;
  }
  .colorBlue {
    background-color: $blue;
  }
  .colorBlueLight {
    background-color: $blue-light;
  }
  .colorOrangeLight {
    background-color: $orange-light;
  }
  .colorOrangeDark {
    background-color: $orange-dark;
  }
  .colorRedLight {
    background-color: $red-light;
  }
  .colorGreyLight1 {
    background-color: $grey-light-1;
  }
  .colorGreyDark2 {
    background-color: $grey-dark-2;
  }
  .colorGreyDark3 {
    background-color: $grey-dark-3;
  }
  .colorGreyDark4 {
    background-color: $grey-dark-4;
  }
}
