@import '../../../styles/settings.scss';

.sectionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.front,
.back,
.full {
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
  }

  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
}

.front {
  &::before,
  &::after {
    background-color: $blue-light;
  }
}
.back {
  &::before,
  &::after {
    background-color: $red-light;
  }
}

.full {
  &::before,
  &::after {
    background: linear-gradient(
      to right,
      $red-light 0%,
      $red-light 50%,
      $blue-light 50%,
      $blue-light 100%
    );
  }
}

.card {
  padding: 1rem;
  margin: 2rem;
  background-color: $grey-dark-4;
  color: $light;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba($dark, 0.5);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;

  & .cartHead {
    padding: 1rem;
    & .preview {
      display: grid;
      grid-template-columns: 1fr 1fr;

      & .itemContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
      }
      & .previewImg {
        height: 10rem;
      }

      & .responsive,
      & .desktop {
        width: 100%;
        height: 80%;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey-dark-3;
        box-shadow: 0.3rem 0.3rem 0.5rem rgba($dark, 0.5);
        border-radius: 2rem;
      }

      & .responsive {
        color: $orange-dark;
      }

      & .desktop {
        color: $red-light;
      }
    }

    & .links {
      display: flex;

      & .link {
        box-shadow: 0.5rem 0.5rem 0.3rem rgba($dark, 0.5);
        background-color: $grey-dark-2;
        color: $blue-light;
        width: 100%;
        margin: 1rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        transition: all 0.3s;

        &:hover {
          color: $blue;
          background-color: $grey-light-1;
        }
      }
    }
  }

  & .cardBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0;

    & .technology {
      font-weight: $font-bold;
      padding: 0.5rem 1rem;
      margin: 0.3rem;
      background-color: $grey-light-1;
      text-shadow: 0.1rem 0.1rem 0.1rem rgba($dark, 0.5);
    }
  }
}
