@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.pageLayout {
  display: grid;
  grid-template-columns: 4fr 6fr;
  height: 100vh;
}

.pageMain {
  background-color: #111;
}
