@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.pageLayout {
  display: grid;
  grid-template-columns: 4fr 6fr;
  height: 100vh;
}

.pageMain {
  background-color: #f4f4f4;
  overflow: auto;
  padding: 5rem;
}
