@import '../../../styles/settings.scss';

.personalQuote {
  color: $grey-dark-1;
  font-style: italic;
  margin: 0 0.5rem;
}

.personalText {
  margin: 2rem;
}

.personalImage {
  width: 30rem;
  float: left;
  margin-right: 4rem;
}
