@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.articleContainer {
  @include paper;
  padding: 4rem;
  margin-bottom: 4rem;
}

.articlelHeader {
  text-transform: uppercase;
  font-weight: $font-bold;
  border-bottom: 2px solid $dark;
  margin-bottom: 4rem;
}

.renderGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2.5rem 0;
}

.renderImg,
.renderSqImg {
  height: 300px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba($dark, 0.5);
}
