@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.renderGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2.5rem 0;
}

.renderImg,
.renderSqImg {
  height: 300px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba($dark, 0.5);
}
